.first-block{
    border-top: 1px #D6D6D6;
    height: 90vh;
    background-image: linear-gradient(112.58deg, #FFF 18.15%, rgba(255, 255, 255, 0) 53.07%), 
    url(../Images/FirstPage.png);
    background-position: right;
}


.Headline{
    position: absolute;
    top: calc(175px + 10vh);
    left: 280px;
}

.creed{
    margin: 0;
    font-size: 65px;
    line-height: 73.85px;
}

.first-block .big-button{
    margin-top: 20px;
}