footer{
    display: flex;
    height: 50vh;
    background-color: #245852;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    padding-top: 8vh;
    padding-left: 10vw;
}

footer a{
    color: #fff;
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.company-name{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-navigation{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2vh;
}

.download div{
    display: flex;
    justify-content: space-around;
}

.download p{
    font-family: Poppins, sans-serif ;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #fff;
    padding-bottom: 35px;
}

footer div{
    width: 25vw;
}

